<!DOCTYPE html>
<html>
  <head>
    <title><%= gamePage %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= gamePage %></h1>
    <p>Welcome to <%= gamePage %></p>
    <a href="../"><%=gamePage%>></a>
  </body>
</html>
